a {
    color: #0062cc;
    font-weight: bold;
}

#searchForm .select {
    padding: 10px;
    float: left;
}

#searchForm .select .dropdown {
    width: 110px;
    height: 35px;
}

#searchForm .search {
    padding: 10px;
    height: 35px;
    width: 250px;
    display: inline-block;
}

#searchForm .submit {
    padding: 10px;
    padding-inline-start: 0%;
    float: right;
}

#searchForm .submit .btn {
    color: black;
    background: white
}

#searchForm .select *,
#searchForm .search * {
    font-size: small;
    font-weight: bold;
    color: black;
}

#app .numResults {
    font-size: small;
    padding-top: 10px;
    margin-left: 160px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#app .previousSearch {
    font-size: small;
    font-weight: bold;
    margin-top: 10px; 
    margin-left: 10px;
    display: inline-flex;
}

#app ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#app ul li {
    padding: 10px;
    margin: 10px;
    background-color: rgb(245, 245, 245);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 2px #888888;
    -moz-box-shadow: 0px 0px 2px #888888;
    box-shadow: 0px 0px 2px #b6b6b6;
}

li span,
.fields {
    font-size: 14px;
}

.fields {
    margin-right: 60px;
    padding-right: 10px;
    padding-left: 10px;
}

.title {
    margin-bottom: 0rem;
}

.title a {
    font-size: medium;
    font-weight: 500;
    line-height: 1.5;
    color: black;
}

.slide-fade-enter-active {
    transition: all .5s ease;
}

.slide-fade-leave-active {
    transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}

.slide-fade-enter,
.slide-fade-leave-to {
    transform: translateX(6px);
    opacity: 0;
}

.list-enter-active,
.list-leave-active {
    transition: all .5s;
}

.list-enter,
.list-leave-to

/* .list-leave-active below version 2.1.8 */
    {
    opacity: 0;
    transform: translateX(20px);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #d6dde4;
    color: black;
    text-align: center;
    font-size: 15px;
}

.footer a {
    margin-right: 40px;
    margin-left: 40px;
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    max-width: 400px;
    max-height: 150px;
    box-shadow: 0px 16px 16px 0px rgba(22, 21, 21, 0.671);
    z-index: 1;
    overflow-y: scroll;
    overflow-x: scroll;
}

.dropdown-content a {
    font-weight: bold;
    padding: 4px 8px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #cfcfcf
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover {
    font-weight: bold;
}

::-webkit-input-placeholder {
    font-size: small;
}
