<!DOCTYPE html>
<html style="min-width:450px; min-height:400px;">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="./static/css/bootstrap.min.css">
  <link rel="stylesheet" href="./static/css/font-awesome.min.css">
  <link rel="stylesheet" href="./app.css">
</head>

<body>

	<div id="app">

		<form id="searchForm" @submit.prevent="processForm">
			<div class="select">
				<select class="form-control dropdown" v-model="sortBy">
					<option class="dropdown-item" value="new">New</option>
					<option class="dropdown-item" value="relevance">Relevance</option>
					<option class="dropdown-item" value="top">Top</option>
				</select>
			</div>

			<div class="search">
				<input class="search form-control" type="text" name="search" placeholder="filter string (optional)" v-model="filter">
			</div>
			
			<div class="submit">
				<button type="submit" class="btn btn-small btn-sm"><i class="fa fa-search"></i></button>
			</div>		
		</form>

		<div v-if="!posts && previousSearch" class="previousSearch">
			<a href="" v-on:click.prevent="recentSearch()">Previous search: "{{previousSearch.query}}" sorted by {{previousSearch.sortBy}}.</a>
		</div>
		
		<transition name="slide-fade" tag="span">
			<p v-if="typeof(posts) === 'object' && !searching" class="numResults">Fetched {{posts.length}} results.</p>
		</transition>

		<transition-group name="list" tag="ul">
			<li v-for="post in posts" v-bind:key="post.id" class="list-item">
				<div class="info">
					<h6 class="title">
						<a :href="post.link" v-on:click="openLink(post.link)">{{post.title}}</a>&nbsp;<span style="font-size:xx-small; font-weight:normal;">{{post.domain}}</span>
					</h6>
					<div>
						<div class="dropdown fields">
							<span class="dropbtn" @mouseover="loadMirrors(post.id)">Mirrors {{post.mirrors == null ?  'here' : `(${post.mirrors.length})`}}</span>
							<div class="dropdown-content" v-if="post.mirrors === null">
								<span style="padding: 10px;">Loading...</span>
							</div>
							<div class="dropdown-content" v-else>
								<a v-for="mirror in post.mirrors" v-bind:key="mirror" :href="mirror" v-on:click="openLink(mirror)">{{mirror}}</a> 
							</div>
						</div>
						<a class="fields" :href="post.comments" v-on:click="openLink(post.comments)"><span>Comments</span></a>
						<span class="fields">{{post.time}}</span>
					</div>
				</div>
			</li>
		</transition-group>
		<br>

		<div class="footer">
			<a v-for="item in footer" :href="item.link" v-on:click="openLink(item.link)">{{item.text}}</a>
			<a href="" v-on:click="openSettings()">Settings</a>
		</div>
		
	</div>

	<script src="./static/js/popper.min.js"></script>
	<script src="./static/js/bootstrap.min.js"></script>
	<script src="./static/js/vue.min.js"></script>
	<script src="./app.js" type="module"></script>
	<script src="./static/js/axios.min.js" ></script>
</body>

</html>