<!DOCTYPE html>
<html>
<head>
    <title>Settings: r/soccer goals</title>
</head>

<body>
    <div id="options">
        Default sortby:
        <select v-model="sortBy">
            <option value="relevance">Relevance</option>
            <option value="new">New</option>
            <option value="top">Top</option>
        </select>
        <br><br>

        <button v-on:click="saveOptions()">Save</button>

        <div v-if="saved">
            <span style="color: green; font-style: italic;">Saved successfully</span>
        </div>

    </div>

    <script src="./../static/js/popper.min.js"></script>
	<script src="./../static/js/vue.min.js"></script>
	<script src="./options.js" type="module"></script>
</body>

</html>